a {color:#ffd800;	outline:none;}
.forum-btn-style1 {background-color:#ffd800;}
.topbar-right li a:hover, .topbar-right li a:hover span {color:#ffd800;}
.dropdown-menu > li > a:hover {color:#ffd800 !important;}
#header_5 .dropdown-menu{border-top:2px solid #ffd800;}
.slider-info h3 {color:#ffd800;}
.button_style1, .button_style3, .lmore_style1  {background:#ffd800;}
.lmore_style1 {background-color:#ffd800;}
.button_style2 {border:3px solid #ffd800;}
.slider-info2 h3 {color:#ffd800;}
.smore {color:#ffd800;}
.category-list li a:hover {background-color:#ffd800;}
.project-info .zoom {color:#ffd800;}
.project-info .info {color:#ffd800;}
.project-info-small .zoom {color:#ffd800;}
.project-info-small .info {color:#ffd800;}
.footer-rposts li:hover h4 a {color:#ffd800;}
.newsletter input[type="submit"] , .c-subscribe input[type="submit"] {background:#ffd800;}
.folio-img .project-info-small .zoom {color:#ffd800;}
.folio-img .project-info-small .info {color:#ffd800;}
.project-overlay {background:#ffd800;background:rgba(255,216,0,0.8);}
.folio-info h4 a:hover{color:#ffd800;}
.portfolio-meta a:hover {color:#ffd800;}
.post-title h3 a:hover {color:#ffd800;}
.excerpt-more:hover {background:#ffd800;}
.blog-desc h4:hover {color:#ffd800;}
.rmore:hover {background:#ffd800;}
.tags-list li a:hover {background:#ffd800;}
.product-post-info h5 a:hover {color:#ffd800;}
.number {background:#ffd800;}
.more-posts h3 a:hover {color:#ffd800;}
.reply-btn:hover {color:#ffd800;border:3px solid #ffd800;}
.forum-comment tbody h5 a:hover, .forum-posts tbody h5 a:hover {color:#ffd800;}
.forum-comment tbody td:nth-child(4) a, .forum-posts tbody td:nth-child(4) a {color:#ffd800;}
.add-cart{background: #ffd800;}
.product-info2 h4 a:hover {color:#ffd800;}
.filter-btn:hover {background:#ffd800;}
.coupon-btn {background:#ffd800;}
.cart-submit-btn, .cart-submit-btn1 {background:#ffd800;}
.billing-info input:focus, .shipping-info input:focus{border:1px solid #ffd800;}
.cart-total .amount-blue {color:#ffd800;}
.smore {color:#ffd800;}
.product-pric {color:#ffd800;}
.color form.custom div.custom.dropdown:hover, .size form.custom div.custom.dropdown:hover { border:1px solid #ffd800;}
.color form.custom div.custom.dropdown ul, .size form.custom div.custom.dropdown ul {border:1px solid #ffd800;}
.btn1, .btn3 {background: #ffd800;}
.shoppage1 .btn3:hover {background: #ffd800;}
.product-meta span a:hover {color:#ffd800;}
.smore {color:#ffd800;}
.sb-more {background:#ffd800;}
ul.tabs li a:hover {color:#ffd800 !important;}
html ul.tabs li.active a,html ul.tabs li.active a:hover {color:#ffd800 !important;}
.strategy-content-jobs .smore {color: #ffd800;}
.blog3-wrap {background:#ffd800;}
.twitterfeed {background:#ffd800;}
.topbar {background: #ffd800;}
.topbar form.custom div.custom.dropdown ul , .topbar form.custom div.custom.dropdown a.current {background-color: #ffd800;}
.about-info2 {background:#ffd800;}
.staff-info h4 {color:#ffd800;}
.time-c {background-color: #ffd800;}
.c-btn {background:#ffd800;}
.clink:hover {color:#ffd800;}
#prelatedposts .folio-img:hover .folio-info {border-top:1px solid #ffd800;}
#prelatedposts .folio-img:hover h4 a {color:#ffd800;}
#prelatedposts .folio-img:hover .folio-like {color:#ffd800;}
.plan_price {color:#ffd800 !important;}
.popular {border:1px solid #ffd800 !important;}
.popular .plan_title {color:#ffd800 !important;}
.p-btn a {background:#ffd800;}
.popular .p-btn a {background:#ffd800;}
.service-wrap-pricing {background:#ffd800;}
#pricing-table h3 span {color: #ffd800;}
.navbar-right .dropdown-menu {border-top:2px solid #ffd800;}
.nav > li > a:hover {border-top:2px solid #ffd800;}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus {  color: #ffd800;}	
.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus {  color: #ffd800;}
.navbar-default .navbar-nav > .disabled > a,.navbar-default .navbar-nav > .disabled > a:hover,.navbar-default .navbar-nav > .disabled > a:focus {  color: #ffd800;}
.breadcrumb a:hover {  color: #ffd800;}
.pagination > li > a:hover,.pagination > li > span:hover,.pagination > li > a:focus,.pagination > li > span:focus {  background-color: #ffd800;}
.portfolio-slider1-thumbs li:before {background-color:#ffd800;background-color:rgba(83,199,224,0.7);}
.overlay-slider a {background:#fff url(images-yellow/ico9.png) no-repeat left;color:#ffd800;background-position: 17% 50%;}
.overlay-slider {background-color:#ffd800;background-color:rgba(83,199,224,0.7);}
.button_style1:hover, .button_style2:hover, .button_style3:hover , .c-btn:hover,
.button_style1:hover, .button_style2:hover, .button_style3:hover ,
.btn2:hover, .btn4:hover,
.sb-more:hover ,
.popular .p-btn a:hover, .popular1 .p-btn a:hover, .p-btn a:hover {
	background:#ddbc03;
	border-color:#ddbc03;
	-webkit-box-shadow: 0px 0px 10px rgba(221, 188, 3, 0.30);
	-moz-box-shadow:    0px 0px 10px rgba(221, 188, 3, 0.30);
	box-shadow:         0px 0px 10px rgba(221, 188, 3, 0.30);
}

.newsletter input[type="submit"]:hover , .c-subscribe input[type="submit"]:hover ,
.lmore_style1:hover, .coupon-btn:hover  ,
.forum-btn:hover ,
.forum-btn-style1:hover,
.add-cart:hover ,
.cart-submit-btn:hover, .cart-submit-btn1:hover ,
.btn1:hover {
	background:#ddbc03;
	-webkit-box-shadow: 0px 0px 10px rgba(221, 188, 3, 0.50);
	-moz-box-shadow:    0px 0px 10px rgba(221, 188, 3, 0.50);
	box-shadow:         0px 0px 10px rgba(221, 188, 3, 0.50);
}

.flex-control-thumbs .flex-active {border:1px solid #ffd800;}
.icheck label.css-label {background-image:url(images-yellow/checkbox.png);}
a.topbar-btn {background-image: url(images-yellow/controls.png);}
a.topbar-btn.active {background-image: url(images-yellow/controls.png);}
.project-info .zoom {background:#fff url(images-yellow/ico9.png) no-repeat left;
	background-position: 24% 50%;

}
.project-info-small .zoom {background:#fff url(images-yellow/ico9.png) no-repeat left;
	background-position: 24% 50%;

}
.project-info .info {background:#fff url(images-yellow/ico10.png) no-repeat left;
	background-position: 24% 50%;

}
.project-info-small .info {background:#fff url(images-yellow/ico10.png) no-repeat left;
	background-position: 24% 50%;

}

#prelatedposts .folio-img:hover .folio-like {
	background:url(images-yellow/like-hr.png) no-repeat left;
}

.clink {
	background:url(images-yellow/arrow-blue-small.png) no-repeat right 8px;
}

.twitter1 a,
.gplus1 a,
.dribbble1 a,
.flickr1 a,
.pinterest1 a,
.linkedin1 a,
.facebook1 a {
	float:left;
	background:url(images-yellow/social2.png) no-repeat left bottom;
	text-indent:8000px;
	width:28px;
	height:26px;
	-webkit-transition:all 0.3s ease-in-out;  
	-moz-transition:all 0.3s ease-in-out;  
	-o-transition:all 0.3s ease-in-out;  
	transition:all 0.3s ease-in-out; 
}

.twitter1 a:hover,
.gplus1 a:hover,
.dribbble1 a:hover,
.flickr1 a:hover,
.pinterest1 a:hover,
.linkedin1 a:hover,
.facebook1 a:hover {
	background:url(images-yellow/social2.png) no-repeat left top;
	-webkit-transition:all 0.3s ease-in-out;  
	-moz-transition:all 0.3s ease-in-out;  
	-o-transition:all 0.3s ease-in-out;  
	transition:all 0.3s ease-in-out; 
}

.facebook1 , .facebook1 a 	{ background-position:9px top;}
.facebook1 a:hover   		{ background-position:9px bottom;}
.pinterest1 , .pinterest1 a 	{ background-position:-37px top;}
.pinterest1 a:hover 		{ background-position:-37px bottom;}
.gplus1 , .gplus1 a			{ background-position:-92px top;}
.gplus1 a:hover 			{ background-position:-92px bottom;}
.dribbble1 , .dribbble1 a 	{ background-position:-137px top;}
.dribbble1 a:hover 		{ background-position:-137px bottom;}
.linkedin1 , .linkedin1 a 	{ background-position:-185px top;}
.linkedin1 a:hover 		{ background-position:-185px bottom;}
.twitter1, .twitter1 a 		{ background-position:-239px top;}
.twitter1 a:hover 			{ background-position:-239px bottom;}
.flickr1 , .flickr1 a 		{ background-position:-287px top;}
.flickr1 a:hover 			{ background-position:-287px bottom;}



.forum-btn {background:url(images-yellow/ico10.png) no-repeat left;}
.folio-img .project-info-small .info {background:#fff url(images-yellow/ico12.png) no-repeat left;background-position: 16% 50%;}
.folio-img .project-info-small .zoom {background:#fff url(images-yellow/ico13.png) no-repeat left;background-position: 16% 50%;}
.panel-heading .accordion-toggle:after {background:url(images-yellow/minus.png) no-repeat left center; }
.toggle a.active.toggle-trigger:before {background:url(images-yellow/minus.png) no-repeat;}
 .toggle1 a.toggle-trigger1:before {background:url(images-yellow/minus.png) no-repeat;}
.shop-inner .bx-next:hover {background: url(images-yellow/next1_hr.png) no-repeat !important;}
.shop-inner .bx-prev:hover {background: url(images-yellow/prev1_hr.png) no-repeat !important;}
.ratings .on-blue {background:url(images-yellow/rating-on-blue.png);}
.side-pposts .accordion-toggle:after {background:url(images-yellow/rposts-ico1-hr.png) no-repeat left center ; }
.side-rposts .accordion-toggle:after {background:url(images-yellow/rposts-ico2-hr.png) no-repeat left center; }
.side-comments .accordion-toggle:after {background:url(images-yellow/rposts-ico3-hr.png) no-repeat left center; }
.side-search input {background:#f7f7f7 url(images-yellow/search.png) no-repeat right;background-position:96% 50%; }
.services-ico {
	background:url(images-yellow/services-ico-bg.png) no-repeat center center;
	background-size:0%;
}
.services-content:hover .services-ico {
	background-size:100%;
}


.layout1a:hover {background:url(images-yellow/shop-filter1a.png);}
.layout2a:hover {background:url(images-yellow/shop-filter2.png);}
.horizontal-handle2 .right {background: url(images-yellow/slide_handle.png) no-repeat;}


.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  background: url(images-yellow/arrow_medium_down_blue.png);

}


.twitter a,.gplus a,.dribbble a,.flickr a,.pinterest a,.linkedin a,.facebook a {background:url(images-yellow/social.png) no-repeat left bottom;}
.twitter a:hover,.gplus a:hover,.dribbble a:hover,.flickr a:hover,.pinterest a:hover,.linkedin a:hover,.facebook a:hover {background:url(images-yellow/social.png) no-repeat left top;}
.twitter, .twitter a 		{ background-position:-0px top;}
.twitter a:hover 			{ background-position:-0px bottom;}
.gplus , .gplus a			{ background-position:-37px top;}
.gplus a:hover 			{ background-position:-37px bottom;}
.dribbble , .dribbble a 	{ background-position:-74px top;}
.dribbble a:hover 		{ background-position:-74px bottom;}
.flickr , .flickr a 		{ background-position:-111px top;}
.flickr a:hover 			{ background-position:-111px bottom;}
.pinterest , .pinterest a 	{ background-position:-148px top;}
.pinterest a:hover 		{ background-position:-148px bottom;}
.linkedin , .linkedin a 	{ background-position:-185px top;}
.linkedin a:hover 		{ background-position:-185px bottom;}
.facebook , .facebook a 	{ background-position:-222px top;}
.facebook a:hover   		{ background-position:-222px bottom;}

ul.social-share .twitter a,
ul.social-share .gplus a,
ul.social-share .dribbble a,
ul.social-share .flickr a,
ul.social-share .pinterest a,
ul.social-share .linkedin a,
ul.social-share .facebook a {
	background:url(images-yellow/social-share.png) no-repeat left bottom;
}

ul.social-share .twitter a:hover,
ul.social-share .gplus a:hover,
ul.social-share .dribbble a:hover,
ul.social-share .flickr a:hover,
ul.social-share .pinterest a:hover,
ul.social-share .linkedin a:hover,
ul.social-share .facebook a:hover {
	background:url(images-yellow/social-share.png) no-repeat left top;
}


ul.social-team li {
	float:left;
	margin: 12px 7px;
	border:none;
	list-style:none;
}

.twitter a,
.gplus a,
.dribbble a,
.flickr a,
.pinterest a,
.linkedin a,
.facebook a {
	float:left;
	background:url(images-yellow/social.png) no-repeat left bottom;
	text-indent:8000px;
	width:16px;
	height:16px;
	-webkit-transition:all 0.3s ease-in-out;  
	-moz-transition:all 0.3s ease-in-out;  
	-o-transition:all 0.3s ease-in-out;  
	transition:all 0.3s ease-in-out; 
}

.twitter a:hover,
.gplus a:hover,
.dribbble a:hover,
.flickr a:hover,
.pinterest a:hover,
.linkedin a:hover,
.facebook a:hover {
	background:url(images-yellow/social.png) no-repeat left top;
	-webkit-transition:all 0.3s ease-in-out;  
	-moz-transition:all 0.3s ease-in-out;  
	-o-transition:all 0.3s ease-in-out;  
	transition:all 0.3s ease-in-out; 
}

.twitter, .twitter a 		{ background-position:-0px top;}
.twitter a:hover 			{ background-position:-0px bottom;}

.gplus , .gplus a			{ background-position:-37px top;}
.gplus a:hover 			{ background-position:-37px bottom;}

.dribbble , .dribbble a 	{ background-position:-74px top;}
.dribbble a:hover 		{ background-position:-74px bottom;}

.flickr , .flickr a 		{ background-position:-111px top;}
.flickr a:hover 			{ background-position:-111px bottom;}

.pinterest , .pinterest a 	{ background-position:-148px top;}
.pinterest a:hover 		{ background-position:-148px bottom;}

.linkedin , .linkedin a 	{ background-position:-185px top;}
.linkedin a:hover 		{ background-position:-185px bottom;}

.facebook , .facebook a 	{ background-position:-222px top;}
.facebook a:hover   		{ background-position:-222px bottom;}


ul.social-share .twitter, ul.social-share .twitter a 		{ background-position:-0px top;}
ul.social-share .twitter a:hover 			{ background-position:-0px bottom;}
ul.social-share .gplus , ul.social-share .gplus a			{ background-position:-37px top;}
ul.social-share .gplus a:hover 			{ background-position:-37px bottom;}
ul.social-share .pinterest , ul.social-share .pinterest a 	{ background-position:-148px top;}
ul.social-share .pinterest a:hover 		{ background-position:-148px bottom;}
ul.social-share .facebook , ul.social-share .facebook a 	{ background-position:-222px top;}
ul.social-share .facebook a:hover   		{ background-position:-222px bottom;}

.bx-wrapper .bx-prev:hover {background: url(images-yellow/shop-prev-hr.png) no-repeat;}
.bx-wrapper .bx-next:hover {background: url(images-yellow/shop-next-hr.png) no-repeat;}

#portfolio-slider .flex-prev:hover { background:url(images-yellow/shop-prev-hr.png) !important; }
#portfolio-slider .flex-next:hover {background:url(images-yellow/shop-next-hr.png) !important;  }

#portfolio-slider .flex-prev:hover { background:url(images-yellow/small_arrow-prev-hr.png); }
#portfolio-slider .flex-next:hover {background:url(images-yellow/small_arrow-next-hr.png);  }
#thumb-slider .flex-prev:hover { background:url(images-yellow/small_arrow-prev-hr.png); }
#thumb-slider .flex-next:hover {background:url(images-yellow/small_arrow-next-hr.png);  }
#quote-slider .flex-prev:hover { background:url(images-yellow/prev1_hr.png); }
#quote-slider .flex-next:hover {background:url(images-yellow/next1_hr.png);  }
.flex-prev:hover { background:url(images-yellow/prev_hr.png); }
.flex-next:hover {background:url(images-yellow/next_hr.png);  }
.folio-filter li a:hover {color: #ffd800;background:url(images-yellow/filter-active.png) no-repeat center bottom;}
.folio-filter li a.selected {color:#ffd800;background:url(images-yellow/filter-active.png) no-repeat center bottom;}
.owl-prev:hover {background: url(images-yellow/shop-prev-hr.png) no-repeat;}
.owl-next:hover {background: url(images-yellow/shop-next-hr.png) no-repeat;}


/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {


#top-wrap {border-top:3px solid #ffd800;}

}

/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {

#top-wrap {border-top:3px solid #ffd800;}

}